* {
    padding: 0rem;
    margin: 0rem;

}

@import url('https://fonts.googleapis.com/css2?family=Andika:ital@1&family=DM+Sans&display=swap');

.navbar {
    margin: 0rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.nav-list {
    margin: 0rem;
    display: flex;
    align-items: center;
}

.nav-list li {
    margin: 0;
    list-style: none;
    margin: 0.2125rem 0.46875rem 0rem 0.9375rem;
    font-size: 0.979rem;

}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: grey;
}

.background {
    background: rgba(0, 0, 0, 0.7) url(img/bitsp.png);
    background-size: cover;
    background-blend-mode: darken;
}

.centre {
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.484);

}

.regform {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.715);
    font-family: "Lucida Console", "Courier New", monospace;
}

form {
    /* border: solid 0.125rem white; */
    padding: 1.30rem;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3rem;
    row-gap: 2rem;
    /* margin-top: 6.375rem; */
    color: white;
    align-items: center;
    /* margin-bottom: 3.3935rem; */
}

.text {
    margin-top: 1.58rem;
    color: white;
}

.big {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.225rem;
    padding: 0.2225rem;
}

.small1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.335rem;
    padding: 0.445rem;
}

.caution {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6675rem;
    padding: 0.445rem;
}

hr {
    position: relative;
    top: 0.125rem;
    border: none;
    height: 0.125rem;
    background: white;
    margin-bottom: 0.8rem;

}
label{
    font-size: 1rem;
    font-family: "Lucida Console", "Courier New", monospace;

}
input,
select,
input::placeholder {
    font-size: 1rem;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    border-radius: 6px;
    line-height: 1.7rem;
    box-sizing: border-box;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

input#fname:focus {
    border: solid 3px rgba(0, 153, 255, 0.751);

}

select#fdept:focus {
    border: solid 3px red;

}

input#fdesc:focus {
    border: solid 3px yellow;

}

input#fvenue:focus {
    border: solid 3px rgba(0, 153, 255, 0.751);

}

input#fpersonname:focus {
    border: solid 3px red;

}

input#fbitsid:focus {
    border: solid 3px yellow;

}

input#fmail:focus {
    border: solid 3px rgba(0, 153, 255, 0.751);

}

input#famount:focus {
    border: solid 3px rgba(0, 153, 255, 0.751);

}

input#fsdatetime:focus {
    border: solid 3px red;

}

input#fedatetime:focus {
    border: solid 3px yellow;

}

input#fphone:focus {
    border: solid 3px red;

}


.adesc {
    width: 5rem;
}

.end {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.6675rem;
    color: white;
    

}

.formerror {
    color: red;
    font-family: 'DM+Sans', sans-serif;

}

button{
    background-color:#0a0a23;
    color: #fff;
    border:solid 3px white;
    margin-right: 1rem;
    border-radius:0.5rem; 
    padding:1rem;
    min-height:2.5rem; 
    min-width: 5rem;
    font-size: 1rem;
}
button:hover {
    background-color:#2a407cde;
    transition: 0.2s;
    cursor: pointer;
}
select:hover{
    cursor: pointer;
}
button:focus {
    background-color:#2a407cde;}
.none{opacity: 0;}

@media(max-width:1425px) {
    html {
        font-size: 95%;
    }
}

@media(max-width:1350px) {
    html {
        font-size: 90%;
    }
}

@media(max-width:1275px) {
    html {
        font-size: 85%;
    }
}

@media(max-width:1200px) {
    html {
        font-size: 100%;
    }
}

/* @media(max-width:1125px) {
    html {
        font-size: 75%;
    }
}

@media(max-width:1050px) {
    html {
        font-size: 70%;
    }
}

@media(max-width:975px) {
    html {
        font-size: 65%;
    }
}

@media(max-width:900px) {
    html {
        font-size: 60%;
    }
}

@media(max-width:825px) {
    html {
        font-size: 65%;
    }
}

@media(max-width:750px) {
    html {
        font-size: 50%;
    }
}

@media(max-width:675px) {
    html {
        font-size: 45%;
    }
}

@media(max-width:600px) {
    html {
        font-size: 40%;
    }
}

@media(max-width:525px) {
    html {
        font-size: 35%;
    }
} */

@media(max-width:600px) {
    html {
        font-size: 60%;
    }
    form{
        display: grid;
        grid-template-columns: auto;

    }
    .abc{
        display:none;
    }
    .big{
        font-size: 1.5rem;
    }
}

/* @media(max-width:375px) {
    html {
        font-size: 50%;
    }
    
    
}

@media(max-width:300px) {
    html {
        font-size: 20%;
    }
}

@media(max-width:225px) {
    html {
        font-size: 15%;
    }
}

@media(max-width:150px) {
    html {
        font-size: 10%;
    }
}

@media(max-width:75px) {
    html {
        font-size: 5%;
    }
} */
